@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--primary-color: #bbb;
	--background-color: #4075a0;
	--dark-color: #151515;
}
html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.head{
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}
.container-hero {
	background-color: var(--background-color);

}
.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}
.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}
.customer-support i {
	font-size: 3.3rem;
}
.content-customer-support {
	display: flex;
	flex-direction: column;
}
.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	text-align: center;
}
.container-logo i {
	font-size: 3rem;
	text-align: center;
}
.container-navbar{
	font-size: 2rem;
	text-align: center;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}
.navbar .fa-bars {
	display: none;
}
.Menu {
	display: flex;
	gap: 2rem;
	text-align: center;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #ffffff;
}
@media(min-width:720px){
	.head.container{
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 0;
		padding-right: 20px;
		width: 100%;
	}
	.container-hero{
		flex-direction: row;
	}
	.container-navbar{
		flex-direction: row;
	}
	.h1{
	width: 50%;
	text-align: initial;
	padding: 0px 30%;
	max-width: 600px;
	}
	.p{
	width: 50%;
	text-align: initial;
	padding: 0px 30%;
	max-width: 600px;
	}
}